body {
    margin: 2em;
    background: #f5f7f7;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

.specs-table {
    max-width: 800px;
}

.specs-table h4 {
    margin: 0 0 15px 0 !important;
    padding: 6px 15px;
    background-color: #bec6c8;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.specs-table-group {
    margin-bottom: 20px;
}

.specs-table ul {
    margin: 0;
    padding-left: 0;
    list-style: disc;
    display: inline-block;
    width: 100%;
}

.specs-table li {
    float: left;
    width: 45%;
    margin-right: 5%;
    padding: 6px 0!important;
    text-align: right;
    list-style: none;
    clear: none!important;
    box-sizing: border-box;
    color: #222429;
    font-size: 15px;
    display: list-item;
}

.specs-item-label {
    float: left;
    max-width: 70%;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.specs-item-value {
    padding-left: 10px;
}

img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.bar {
    background: white;
    display: flex;
    align-items: center;
}

span {
    line-height: 1.5;
}

button {
    background: none;
    border: 0;
    color: #BDBDBD;
    font-size: 2em;
    margin-left: -4px;
}

button.active {
    color: #46749A;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

td {
    vertical-align: top;
}

#test ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#test li {
    display: inline-block;
}

#test .break a {
    cursor: default;
}