body {
    margin: 0;
    background: #f5f7f7;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
a {
    font-size: 18px;
    color: #46749A;
    text-decoration: none;
}
td {
    vertical-align: top;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000;
}
h1.title {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    background-color: #79b8b0;
    flex: 0 0 auto;
}
.header .logo {
    float: left;
    margin-left: 2em;
}
.header .search {
    float: right;
    margin-right: 3em;
}
.header #searchText {
    height: 2em;
    border-radius: 0.5em;
}
.footer {
    background-color: #79b8b0;
    flex: 0 0 auto;
    padding: 0.2em 1em;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}
.footer a {
    font-size: 0.8em;
}
.footer .copyright {
    display: inline;
}
.footer .contact {
    float: right;
}
.content {
    margin: 2em;
    flex: 1 0 auto;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    cursor: pointer;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: default;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination > .break-me > a {
    pointer-events: none;
}

.yearColumn {
    text-align: center;
}

.modelList {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}
.modelList > table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.modelList th,
.model-table th {
    margin: 0 0 15px 0 !important;
    padding: 6px 15px;
    background-color: #bec6c8;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.model-table ul {
    margin: 0;
    padding-left: 0;
    list-style: disc;
    display: inline-block;
    width: 100%;
}
.model-table li {
    float: left;
    padding: 0px 6px;
    list-style: none;
    clear: none!important;
    box-sizing: border-box;
    color: #222429;
    font-size: 15px;
    display: list-item;
}

.specs-table, .model-table {
    max-width: 800px;
    width: 800px;
    margin: auto;
}
.specs-table h4 {
    margin: 0 0 15px 0 !important;
    padding: 6px 15px;
    background-color: #bec6c8;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.specs-table-group {
    margin-bottom: 20px;
}
.specs-table ul {
    margin: 0;
    padding-left: 0;
    list-style: disc;
    display: inline-block;
    width: 100%;
}
.specs-table li {
    float: left;
    width: 45%;
    margin-right: 5%;
    padding: 6px 0!important;
    text-align: right;
    list-style: none;
    clear: none!important;
    box-sizing: border-box;
    color: #222429;
    font-size: 15px;
    display: list-item;
}
.specs-item-label {
    float: left;
    max-width: 70%;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.specs-item-value {
    padding-left: 10px;
}

.bar {
    background: white;
    display: flex;
    align-items: center;
}
span {
    line-height: 1.5;
}
button {
    background: none;
    border: 0;
    color: #BDBDBD;
    font-size: 2em;
    /*margin-left: -4px;*/
}
button.active {
    color: #46749A;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}

#searchModels {
    text-align: center;
    margin: auto;
    width: 100%;
}

#searchResult {
    width: 100%;
    margin: auto;
}
#searchResult > div {
    text-align: center;
    margin: auto;
    margin-left: 20px;
}


#mainManufacturers {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#mainManufacturers > li {
    display: inline-block;
    padding: 1em;
    max-width: 30%;
}
.mainManufacturers-link {
    text-align: center;
}


.searchForm {
    width: 276px;
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.searchForm > div {
    padding-bottom: 5px;
}
.searchForm select {
    color: #aaa;
    font-size: 13px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.searchForm input {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding: 0px;
}
